/*
# means id, . means class
*/
#title {
    text-align: left;
    padding: 3%;
    padding-left: 3%;
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif; 
}

.mainButtons {
    color:white;
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 2%;
    border-color: none;
    outline-color: none;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-decoration: none;
    font-size: 120%;
}

.mainButtons:hover {
    text-decoration: underline;
}

.page {
    background-image: linear-gradient(#84CEEB, #C1C8E4);

}

@media only screen and (max-width: 1000px), (min-height: 1900px) and (max-width: 1300px) {
    .heading {
        font-family: "Trebuchet MS", Helvetica, sans-serif; 
        padding-left: 3%;
        padding-top: 2%;
        color: white;
        text-decoration: bold;
        font-size: 150%;
    }
    .text {
        color: white;
        font-family: "Trebuchet MS", Helvetica, sans-serif; 
        line-height: 150%;
        padding-left: 3%;
        padding-right: 3%;
        font-size: 150%;
    }
    .photo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 2%;
        width: 80%;
    }
    .contact {
        text-align: center;
        font-family: "Trebuchet MS", Helvetica, sans-serif; 
        padding-top: 2%;
        padding-bottom: 2%;
        color: white;
        font-size: 200%;
    }
    .contactchild {
        text-align: center;
    }
    .bullet2 {
        text-align: left;
        list-style-type: none;
        padding: 0%;
    }
}

@media only screen and (min-width: 1001px) {
    .flex {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .home {
        width: 60%;
    }
    .photo {
        margin-left: 6%;
        margin-right: 3%;
        border-radius: 2%;
    }
    .text {
        color: white;
        font-family: "Trebuchet MS", Helvetica, sans-serif; 
        line-height: 150%;
        width: 80%;
        padding-left: 3%;
        font-size: 120%;
    }
    .heading {
        font-family: "Trebuchet MS", Helvetica, sans-serif; 
        padding-left: 3%;
        padding-top: 2%;
        color: white;
        text-decoration: bold;
    }
    .contact {
        text-align: center;
        font-family: "Trebuchet MS", Helvetica, sans-serif; 
        padding-top: 2%;
        padding-bottom: 2%;
        color: white;
    }
    .contactchild {
        display: inline;
    }
    .align-center {
        padding-left: 13%;
    }
    .column {
        width: 30%;
        padding-left: 2%;
    }
}

.bullet1 {
    list-style-position: inside;
    font-size: 125%;
}
